.footer {
    padding: 25px 0px;
    background-color: rgba(44, 49, 84, 1);
}
.footer__title-text {
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: $_grey;
}
