* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
}  
html {
    font-family: 'Raleway', 'Cardo', sans-serif;
} 
  body._lock {
    overflow: hidden;
}
  
.container {
    position: relative;
    z-index: 2;
    max-width: 1170px;
    padding: 0 15px;
    margin: auto;
}
//btn
.btn {
    font-family: 'Raleway';
    display: block;
    width: 370px;
    padding: 20px;
    background: $_red;
    font-weight: 900;
    font-size: $_24px;
    line-height: 28px;
    color: $_white;
    border: none;
    margin: auto;
    cursor: pointer;
    transition: 0.2s;
}
.btn:hover {
    background: #E71414;
}

.btn:active {
    box-shadow: 4px 4px 30px #FF4343;
}
.btn {
    font-family: 'Raleway';
    display: block;
    width: 370px;
    padding: 20px;
    background: $_red;
    font-weight: 900;
    font-size: $_24px;
    line-height: 28px;
    color: $_white;
    border: none;
    margin: auto;
    cursor: pointer;
    transition: 0.2s;
}
.btn:hover {
    background: #E71414;
}
.btn:active {
    box-shadow: 4px 4px 30px #FF4343;
}

//icons 

.contacts-links{
    width: 39px;
    height: 39px;
    text-align: center;
    border: 1px solid $_grey;
    color: $_grey;
    font-size: $_18px;
    padding: 5px;
    margin: 5px;
    transition: 0.3s;
}
.contacts-links:hover {
    color: $_red;
}

.fa-brands{
    transition: 0.3s;
}
.fa-facebook-f:hover {
    transform: scale(1.1) rotate(360deg);
    color: #4267B2;
}

.fa-twitter:hover {
    transform: scale(1.1) rotate(360deg);
    color:#1DA1F2; 
}

.fa-linkedin:hover{
    transform: scale(1.1) rotate(360deg);
    color: #0077b5;
}




