//цвета

$_white: #ffffff;
$_darkgray: #000000;
$_black: #2D3033;
$_red: #FF4343;
$_grey: #6C7279;


//шрифт

$_64px: 4rem;
$_50px: 3.125rem;
$_36px: 2.25rem;
$_30px: 1.875rem;
$_24px: 1.5rem;
$_18px: 1.125rem;
$_13px: 0.8125rem;